*{
	margin:0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}


h1{
	color: white;
	text-shadow: 3px 2px black;
	font-size: 100px;
}

.home{
	background: url(../images/logo.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.home > div > h1{
	color: whitesmoke;
}
.btn{
	background-color: grey;
	color: red;
	border-style: 1;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .3s;
	font-size: 20px;
	text-decoration: underline;
	border-color: black;
}

.btn:hover{
	background-color: white;
}
 
.btn:link{
	color: yellow;
}

.btn:visited{
	color: blue;
	font-size: 50px;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: black;
  color: white;
}

.page1{
	background: url(../images/b1.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	height: 100vh;
}

.page1 > div{
	width: 50%;
}

h2{
	color: #c3da00;
	text-shadow: 3px 2px black;
	font-size: 100px;
	text-align: left;
	padding: 60px;
	margin: 60px;
}

p{
	color: white;
	text-shadow: 3px 2px black;
	font-size: 12px;
	text-align: left;
	font-size: 20px;
}

.page1 > div > img{
	height: 500px;
	width: 500px;
	border-radius: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px;
	padding: 100px;
}

.page2{
	background: url(../images/b2.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	height: 100vh;
}

.page2 > div{
	width: 50%
}
h3{
	color: #0e610c;
	text-shadow: 3px 2px black;
	font-size: 100px;
	text-align: left;
	padding: 60px;
	margin: 60px;
}

p{
	color: white;
	text-shadow: 3px 2px black;
	font-size: 12px;
	text-align: left;
	font-size: 20px;
}

.page2 > div > img{
	height: 500px;
	width: 500px;
	border-radius: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px;
	padding: 100px;
}


.page3{
	background: url(../images/b3.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	height: 100vh;
}

h4{
	color: #0268d1;
	text-shadow: 3px 2px black;
	font-size: 100px;
	text-align: left;
	padding: 60px;
	margin: 60px;
}

.page3 > div{
	width: 50%
}
p{
	color: white;
	text-shadow: 3px 2px black;
	font-size: 12px;
	text-align: left;
	font-size: 20px;
}

.page3 > div > img{
	height: 500px;
	width: 500px;
	border-radius: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 100px;
	padding: 100px;
}

.page4{
	background: url(../images/CM.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

}
.page4 > div > form{
	font-size: 20px;
	text-align: center;
	margin: 10px;
	text-align: center;

}

.page4 > div> input{
	display: block;
	border: 5px black;
	margin-top: 5px;
	height: 100px;
	width: 400px;
	border-radius: 200px;
	font-size: 20px;
	text-align: center;
}

h5{
	color: white;
	text-shadow: 3px 2px black;
	font-size: 100px;
	text-align: left;
	padding: 60px;
	margin: 60px;

.page4 > div> button{
	background-color: grey;
	color: red;
	border-style: 1;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .3s;
	font-size: 20px;
	text-decoration: underline;
	border-color: black;
}
	
.page4 > div >button{
	background-color: white;
}
 
.page4 > div >button{
	color: yellow;
}
.page4 > div >button{
	color: blue;
	font-size: 50px;
}